.page-content{
    background-size: cover;
    background: rgb(13,25,41);
    padding: 15px 15px 10px 20px;
}
.page-content .main-content{
    min-height: 687px;
    margin-left: 38px;
    height: 100%;
    width: 100%;
    background: linear-gradient(-5deg, rgb(04,22,56),rgb(42,36,61));
}