body {
    font-family: 'UTMAvo';
    font-size: 15px;
    background: linear-gradient(-5deg, rgb(04,22,56),rgb(42,36,61)) no-repeat;
    /*background: linear-gradient(to right, #0f0c29, #302b63, #24243e);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-weight: 300;
}
.contact-form {
    /*background-color:rgba(106, 90, 205, 0.1);*/
    /*background-color:rgba(58, 95, 205, 0.1);*/
    background-color:rgba(100, 149, 237, 0.2);
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -o-border-radius: 16px;
}