.left-content{
    height: 100%;
    width: 15%;
    padding: 5px 5px;
    float: left;
    background: rgba(0,0,0,0.2);
}
.left-content .top-left{
    height: 50px;
    /*background: #3F407F;*/
}

.left-content .top-left .top-left-title{
    /*background: violet;*/
    text-align: center;
    color: #FFF;
    font-size: 16px;
    padding: 10px 0px 2px;
    text-transform: uppercase;
    cursor: pointer;
}
/*.left-content .top-left:hover{*/
    /*background: #403570;*/
/*}*/
.left-content .top-left .top-left-title a{
    display: block;
    font-size: 18px;
    height: 100%;
}
.left-content .top-left .top-left-divider{
    /*background: green;*/
    height: 11px;
    z-index: 10;
    text-align: center;
}

.left-content .top-left .top-left-divider img{
    width: 70%;
    height: 80%;
    margin-top: -15px;
}

.left-content .bottom-left{
    /*background: blue;*/
}

.left-content .bottom-left ul{
    list-style: none;
    height: 330px;
    padding: 0;
}

.left-content .bottom-left ul li{
    /*background: violet;*/
    height: 40px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
}

.left-content .bottom-left ul li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-transform: uppercase;
}
.left-content .bottom-left ul li a:hover{
    background-color: #251d47;
}
.left-content .bottom-left ul li a:active,
.left-content .bottom-left ul li a:focus{
    text-decoration: none;
}

.left-content .bottom-left.swiper-slide{
    height: 40px;
}

.left-content .bottom-left .change-room{
    /*background: #af56e3;*/
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 15px 0 5px;
    position: relative;
    z-index: 5;
    cursor: pointer;
}
/*.left-content .bottom-left .change-room:hover{*/
    /*background: #403570;*/
/*}*/
.right-content{
    width: 87%;
    padding: 15px 25px 15px 25px;
    float: left;
}
.left-content .action-bottom{
    height: 45px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2px;
}
.left-content .action-bottom .aitem{
    text-align:center;
    font-size: 16px;
    padding-top: 8px;
}
.left-content .action-bottom .aitem a{
    color: #ccc;
}
.right-content img{
    width: 100%;
}