/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/

/* reset */

@font-face {
  font-family: 'UTMAvo';
  src: url('./fonts/UTMAvo.ttf');
}
.contact-form ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.contact-form blockquote, q {
    quotes: none;
}
.contact-form blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
.contact-form table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* start editing from here */

.contact-form a {
    text-decoration: none;
}
.contact-form .txt-rt {
    text-align: right;
}
/* text align right */

.contact-form .txt-lt {
    text-align: left;
}
/* text align left */

.contact-form .txt-center {
    text-align: center;
}
/* text align center */

.contact-form .float-rt {
    float: right;
}
/* float right */

.contact-form .float-lt {
    float: left;
}
/* float left */

.contact-form .clear {
    clear: both;
}
/* clear float */

.contact-form .pos-relative {
    position: relative;
}
/* Position Relative */

.contact-form .pos-absolute {
    position: absolute;
}
/* Position Absolute */

.contact-form .vertical-base {
    vertical-align: baseline;
}
/* vertical align baseline */

.contact-form .vertical-top {
    vertical-align: top;
}
/* vertical align top */

.contact-form .underline {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
    margin: 0 0 20px 0;
}
/* Add 5px bottom padding and a underline */

.contact-form nav.vertical ul li {
    display: block;
}
/* vertical menu */

.contact-form nav.horizontal ul li {
    display: inline-block;
}
/* horizontal menu */

.contact-form img {
    max-width: 100%;
}
/*end reset*/

.contact-form {
    /*background-color:rgba(106, 90, 205, 0.1);*/
    /*background-color:rgba(58, 95, 205, 0.1);*/
    /*background-color:rgba(100, 149, 237, 0.2);*/
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -o-border-radius: 16px;
}
.contact-form .logo {
    text-align: center;
    padding: 15px;
    overflow: hidden;
    height: 80px;
}

.contact-form .logo img{
	width: 64%;
}



.contact-form .into {
    float: right;
    cursor: pointer;
}
.contact-form .form {
    padding: 0 2em 1.7em 2em;
}
.contact-form .form ul {
    text-align: center;
    margin: 0px auto;
}
.contact-form .form li.input {
    float: left;
    width: 100%;
    outline: none;
    font-weight: 600;
    margin-top: 15px;
    border-radius: 5px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    border: 1px solid #aaa;
    background: #041C38;
}
.contact-form .form li input {
    float: left;
    font-size: 0.9em;
    padding: 15px 0px;
    width: 79%;
    border: none;
    outline: none;
    color: #FFF;
    background: none;
    background: #041C38;
}
.contact-form *::-webkit-input-placeholder {
    color: #CCC;
    font-weight: lighter;
}
.contact-form *:-moz-placeholder {
    /* FF 4-18 */
    color: #CCC;
    font-weight: lighter;
}
.contact-form *::-moz-placeholder {
    /* FF 19+ */
    color: #CCC;
    font-weight: lighter;
}
.contact-form *:-ms-input-placeholder {
    /* IE 10+ */
    color: #CCC;
    font-weight: lighter;
}
.contact-form placeholder {
    /* Most modern browsers support this now. */
    color: #CCC;
    font-weight: lighter;
}
.contact-form .form li label {
    float: left;
    padding-top: 10px;
    width: 20%;
    cursor: pointer;
}

.contact-form .form p a {
    font-family: 'UTMAvo';
    float: left;
    font-size: 0.82355em;
    padding: 20px 0px 3px;
    color: #C9C8C7;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.contact-form .form .remember{
	margin-top: 15px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	font-size: 15px;
	padding-left: 35px;
	text-align: left;
}

.contact-form .form button{
	background: #F0A830;
	text-transform: uppercase;
	color: #FFF;
}

.contact-form .form button:hover{
	color: #FFF;
}

.contact-form .form .remember input{
    margin-left: -30px;
}
.contact-form .form .remember label{
    height: 100%;
    margin-left: 0px;
}
.contact-form .form p a:hover {
    color: #FAF19D;
}
.contact-form .form li.style {
    background: #77a033;
    /* Old browsers */
    background: -moz-linear-gradient(top, #77a033 0%, #668f24 33%, #5b8220 72%, #52761c 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #77a033), color-stop(33%, #668f24), color-stop(72%, #5b8220), color-stop(100%, #52761c));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #77a033 0%, #668f24 33%, #5b8220 72%, #52761c 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #77a033 0%, #668f24 33%, #5b8220 72%, #52761c 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #77a033 0%, #668f24 33%, #5b8220 72%, #52761c 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #77a033 0%, #668f24 33%, #5b8220 72%, #52761c 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77a033', endColorstr='#52761c', GradientType=0);
    /* IE6-9 */
    margin-top: 20px;
    display: block;
    display: block;
    box-shadow: 0px -1px 4px #000;
    -webkit-box-shadow: 0px 0px 7px #030303;
    -moz-box-shadow: 0px 0px 7px #030303;
    -o-box-shadow: 0px 0px 7px #030303;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}
.contact-form .form li.style:hover {
    background: #52761c;
    /* Old browsers */
    background: -moz-linear-gradient(top, #52761c 0%, #5b8220 28%, #668f24 67%, #77a033 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #52761c), color-stop(28%, #5b8220), color-stop(67%, #668f24), color-stop(100%, #77a033));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #52761c 0%, #5b8220 28%, #668f24 67%, #77a033 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #52761c 0%, #5b8220 28%, #668f24 67%, #77a033 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #52761c 0%, #5b8220 28%, #668f24 67%, #77a033 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #52761c 0%, #5b8220 28%, #668f24 67%, #77a033 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52761c', endColorstr='#77a033', GradientType=0);
    /* IE6-9 */
}
.contact-form .form li.style input {
    text-align: center;
    width: 100%;
    font-size: 0.9em;
    font-family: 'UTMAvo';
    padding: 8px 0px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.contact-form .forgot-password{
	padding: 15px 5px;
	text-align: right;
}

.contact-form .forgot-password a{
	color: #fff;
	
}
.contact-form .forgot-password a:hover{
	color: #fff;

}
/* footer */

.contact-form .footer {
    position: absolute;
    bottom: 20px;
    left: 45%;
}
.contact-form .footer p {
    position: relative;
    font-family: 'UTMAvo';
    color: #fff;
    display: block;
    font-size: 0.9em;
    font-weight: 400;
    text-align: center;
    padding-top: 2em;
}
.contact-form .footer p a {
    color: #ffffff;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}
.contact-form .footer p a:hover {
    color: #FAF19D;
}
.contact-form .message {
    /*box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 2px rgba(0, 0, 0, 0.4);*/
    position: relative;
}
.contact-form .warning {
    text-align: center;
    margin: 8% auto;
    width: 350px;
    /*background: rgba(82, 97, 97, 0.68);*/
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
}
/*-----start-responsive-design------*/

@media only screen and (max-width: 1366px) {
    .wrap {
        width: 95%;
    }
    .footer {
        bottom: 20px;
        left: 44%;
    }
}
@media only screen and (max-width: 1280px) {
    .wrap {
        width: 95%;
    }
    .footer {
        bottom: 20px;
        left: 44%;
    }
}
@media only screen and (max-width: 1024px) {
    .wrap {
        width: 95%;
    }
    .footer {
        bottom: 20px;
        left: 42%;
    }
}
@media only screen and (max-width: 800px) {
    .wrap {
        width: 95%;
    }
    .footer {
        bottom: 20px;
        left: 40%;
    }
}
@media only screen and (max-width: 600px) {
    .wrap {
        width: 95%;
    }
    .footer {
        bottom: 10px;
        left: 38%;
    }
}
@media only screen and (max-width: 480px) {
    .wrap {
        width: 95%;
    }
    .footer {
        bottom: 10px;
        left: 31%;
    }
    .warning {
        margin: 16% auto;
    }
}
@media only screen and (max-width:320px) {
    .wrap {
        width: 95%;
    }
    .footer {
        bottom: 10px;
        left: 25%;
    }
    .warning {
        margin: 16% auto;
    }
}