body{
    min-width: 1090px;
}
.page-content{
    background-size: cover;
    height: 700px;
}
.content{
    min-width: 1090px;
}
.content .cheader{
    position: relative;
    height: 95px;
    padding-bottom: 15px;
    margin-left: 34px;
    padding-left: 10px;
    /*background: pink;*/
}
.content .cheader .menu-setting{
    width: 150px;
    color: #ccc;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 3px;
    float: left;
    padding: 10px 0;
}

.content .cheader .menu-setting .setting-item{
    text-align:center;
    padding: 7px 0;
    height: 100%;
    /*background: lightgreen;*/
}

.content .cheader .menu-setting .setting-item.setting-left{
    border-right: 2px solid #999;
    padding-right: 7px;
    /*background: lightgreen;*/
}

.content .cheader .menu-setting .setting-item a{
    /*background: #bf7fff;*/
    color: #ccc;
    font-size: 16px;
}
.content .cheader .icon-wrapper{
    width: 896px;
    height: 100%;
    /*background: greenyellow;*/
    float: left;
}
.content .cheader .icon-wrapper .icon-item{
    /*background: yellowgreen;*/
    height: 100%;
    width: 110px;
    text-align: center;
}
.content .cheader .icon-wrapper .icon-item .icon-symbol{
    width: 100%;
    height: 50px;
    padding: 5px;
    /*background: cadetblue;*/
}
.content .cheader .icon-wrapper .icon-item .icon-symbol img{
    height: 100%;
}
.content .cheader .icon-wrapper .icon-item .icon-name{
    padding-top: 5px;
    color: #ccc;
}

/*--progress bar --*/
.content .cheader .progress-bar{
    background: transparent;
    /*background: blue;*/
    height: 100%;
    width: 180px;
    float: left;
    position: absolute;
    right: 0px;
    top: 0;
}

.content .cheader .progress-bar{
    padding: 5px 20px;
    float: left;
}
.content .cheader .progress-bar .phead{
    position: relative;
}
.content .cheader .progress-bar .phead .circle {
    width: 50px;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
}
.content .cheader .progress-bar .circle strong {
    position: absolute;
    left: 0;
    text-align: center;
    line-height: 45px;
    font-size: 43px;
}
.content .cheader .progress-bar .portion{
    position: absolute;
    top: 8px;
    left: 52px;
    font-size: 11px;
}

.content .cheader .progress-bar .portion .exist{
    font-size: 14px;
}
.content .cheader .progress-bar .ptitle{
    /*position: absolute;*/
    font-size: 14px;
    color: #ccc;
    text-transform: uppercase;
    text-align: center
}
/*--end progress bar--*/

.bottom-content{
    width: 100%;
    background: linear-gradient(-5deg, rgb(04,22,56),rgb(42,36,61));
    overflow: auto;
    margin-left: 40px;
    padding-left: 8px;
    /*background: lightgreen;*/
}

.bottom-content .left-content{
    height: 100%;
    width: 15%;
    /*background: pink;*/
    padding: 5px 0;
    margin-top: 46px;
    float: left;
    background: rgba(0,0,0,0.2);
}
.bottom-content .left-content .top-left{
    height: 50px;
    /*background: #3F407F;*/
    /*background: lightblue;*/
}

.bottom-content .left-content .top-left:hover{
    background-color: #251d47;
}

.bottom-content .left-content .top-left .top-left-title{
    /*background: violet;*/
    text-align: center;
    color: #FFF;
    font-size: 16px;
    padding: 3px 0px 2px;
    text-transform: uppercase;
    cursor: pointer;
}
.bottom-content .left-content .top-left .top-left-title a{
    display: block;
    font-size: 18px;
    height: 100%;
}
.bottom-content .left-content .top-left .top-left-divider{
    height: 11px;
    z-index: 10;
    text-align: center;
}

.bottom-content .left-content .top-left .top-left-divider img{
    width: 70%;
    height: 80%;
    margin-top: -15px;
}

.bottom-content .left-content .bottom-left{
    /*background: blue;*/
}

.bottom-content .left-content .bottom-left ul{
    list-style: none;
    height: 330px;
    padding: 0;
}

.bottom-content .left-content .bottom-left ul li{
    height: 40px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
}

.bottom-content .left-content .bottom-left ul li a{
    color: #fff;
    text-transform: uppercase;
}
.bottom-content .left-content .bottom-left ul li a:active,
.bottom-content .left-content .bottom-left ul li a:focus{
    text-decoration: none;
}

.bottom-content .left-content .bottom-left.swiper-slide{
    height: 40px;
    overflow: hidden;
}

.bottom-content .left-content .bottom-left .change-room{
    /*background: #af56e3;*/
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 15px 0 5px;
    position: relative;
    z-index: 5;
    /*background: #344484;*/
    cursor: pointer;
}

/*.bottom-content .left-content .bottom-left .change-room:hover{*/
    /*background: #403570;*/
/*}*/

.bottom-content .right-content{
    width: 84%;
    padding: 46px 15px 15px 15px;
    float: left;
}
.bottom-content .left-content .action-bottom{
    height: 45px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2px;
}
.bottom-content .left-content .action-bottom .aitem{
    text-align:center;
    font-size: 16px;
    padding-top: 8px;
}
.bottom-content .left-content .action-bottom .aitem a{
    color: #ccc;
}

.bottom-content .right-content .background-wrapper{
    overflow: auto;
}
.bottom-content .right-content .background-wrapper img.bg-image{
    width: 1200px;
}