@font-face {
    font-family: 'UTMAvo';
    src: url('./fonts/UTMAvo.ttf');
}
@font-face {
    font-family: 'UTMAvo-Bold';
    src: url('./fonts/UTMAvoBold.ttf');
}
@font-face {
    font-family: 'UTMAvo-Italic';
    src: url('./fonts/UTMAvoItalic.ttf');
}
@font-face {
    font-family: 'UTMAvo-Bold-Italic';
    src: url('./fonts/UTMAvoBold_Italic.ttf');
}
body {
    font-family: UTMAvo;
    max-width: 1368px;
    margin: auto;
    height: 100%;
    overflow: auto;
    background: transparent;
    background-size: cover;

}

.header {
    width: 100%;
    height: 100px;
    position: relative;
}

/*--logo--*/
.header .logo {
    /*   background: lightgreen; */
    width: 15%;
    height: 100%;
    padding: 30px 10px;
    float: left;
}

.header .logo img {
    width: 100%;
}

/*--end logo--*/

.header .info {
    width: 72%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.header .info .i-item {
    color: #ddd;
    font-size: 1.5em;
}

.header .info .i-item .time-text {
    width: 100%;
    height: 100%;
    padding: 47px 20px 47px 70px;
}

/*--progress bar --*/
.header .info .i-item .on {
    padding: 30px 50px;
    float: left;
}

.header .info .i-item .on .phead {
    position: relative;
    cursor: pointer;
}

.header .info .i-item .on .phead .circle {
    width: 70px;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;

}

.header .info .i-item .on .circle strong {
    position: absolute;
    left: 0;
    width: 0px;
    text-align: center;
    line-height: 45px;
    font-size: 43px;
}


.header .info .i-item .on .portion {
    position: absolute;
    top: 13px;
    left: 18px;
    font-size: 12px;
}

.header .info .i-item .on .portion .exist {
    font-size: 15px;
}

.header .info .i-item .on .ptitle {
    position: absolute;
    font-size: 15px;
}

/*--end progress bar--*/

.header .info .i-item .connect {
}

.header .info .i-item .connect .chead {
    width: 100%;
    text-align: center;
    position: relative;
}

.header .info .i-item .connect .chead .csymbol {
    width: 50px;
    margin:auto;
    padding: 40px 0px 5px 0px;
    position: relative;
}

.header .info .i-item .connect .chead .csymbol img {
    height: 40px;
}

.header .info .i-item .connect .chead .cstatus {
    position: absolute;
    right: -10px;
    top: 28px;
}

.header .info .i-item .connect .chead .cstatus img {
    width: 10px;
    height: 10px;
}

.header .info .i-item .connect .ctitle {
    text-align: center;
    font-size: 15px;
    padding: 5px;
}

.header .profile {
    position: absolute;
    width: 200px;
    float: left;
    top: 20px;
    right: 25px;
}

.header .profile .dropdown {
    float: right;
}

.header .profile .name {
    color: #fff;
    text-align: right;
    display: block;
    height: 100%;
    right: 70px;
    font-size: 16px;
    padding-top: 18px;
    padding-right: 8px;
    position: absolute;
}

.header .profile .dropdown {
    background: transparent;
}

.header .profile .dropdown #dropdownMenu {
    background: transparent;
    border-width: 0px;
    color: transparent;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 5px;
    border-radius: 50%;
    position: relative;
}

.header .profile .dropdown #dropdownMenu img {
    height: 50px;
    left: 0;
    top: 0;
    position: absolute;
}

.header .profile .caret {
    position: relative;
}

/* dropdown style */
.header .profile .dropdown.open .caret:before,
.header .profile .dropdown.open .caret:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-width: 10px 8px;
    border-style: solid;
    border-color: transparent;
    z-index: 1001;
}

.header .profile .dropdown.open .caret:before {
    top: 5px;
    right: -8px;
    border-bottom-color: #111;
}

.header .profile .dropdown.open .caret:after {
    top: 5px;
    right: -8px;
    border-bottom-color: #111;
}

/* navbar style */
.header .profile .navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.header .profile .navbar-nav > .open > a .caret:before {
    bottom: -23px;
}

.header .profile .navbar-nav > .open > a .caret:after {
    bottom: -24px;
}

.header .profile .dropdown ul {
    background: blue;
}

ul.dropdown-menu {
    background-color: #0f0;
}

.header .profile .dropdown .dropdown-menu {
    min-width: 100px;
    padding: 5px 0;
    margin: 2px 0 0;
    background-color: #000;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.header .profile .dropdown .dropdown-menu > li > a {
    padding: 6px 5px;
    color: rgba(255, 255, 255, 0.80);
    text-transform: uppercase;
    font-weight: bolc;
}

.header .profile .dropdown .dropdown-menu > li > a > i {
    padding: 0px 5px 0px 0px;
}

.header .profile .dropdown .dropdown-menu > li > a > span {
    padding: 0px 5px 0px 0px;
}

.header .profile .dropdown .dropdown-menu > li > a:hover,
.header .profile .dropdown .dropdown-menu > li > a:focus {
    color: rgba(255, 255, 255, 0.70);
    text-decoration: none;
    background-color: transparent;
}

.header .profile .dropdown .dropdown-menu > .active > a,
.header .profile .dropdown .dropdown-menu > .active > a:hover,
.header .profile .dropdown .dropdown-menu > .active > a:focus {
    color: rgba(255, 255, 255, 0.70);
    text-decoration: none;
    background-color: transparent;
    outline: 0;
}

.content {
    padding: 5px;
    width: 100%;
    min-width: 700px;

}

.content .left-content {
    height: 100%;
    width: 15%;
    min-width: 100px;
    padding: 5px 25px;
    float: left;
    background: rgba(0,0,0,0.2);
}

.content .left-content .top-left {
    height: 55px;
}
.content .left-content .top-left.anchor{
    cursor: pointer;
}
.content .left-content .top-left.anchor:hover{
    background: #251d47;
}

.content .left-content .top-left .top-left-title {
    text-align: center;
    color: #FFF;
    font-size: 18px;
    padding: 10px 0px 2px;
    text-transform: uppercase;
}
.content .left-content .top-left .top-left-title a{
    display: block;
    height: 100%;
}
.content .left-content .top-left .top-left-divider {
    /*background: green;*/
    height: 11px;
    position: relative;
    text-align: center;
    z-index: 10;
}

.content .left-content .top-left .top-left-divider img {
    width: 70%;
    height: 80%;
    margin-top: -15px;
}

.content .left-content .bottom-left {
    /*background: blue;*/
}

.content .left-content .bottom-left ul {
    list-style: none;
    height: 380px;
    padding: 0px;
}

.content .left-content .bottom-left ul li {
    /*background: violet;*/
    height: 45px;
    line-height: 45px;
    text-align: center;
}

.content .left-content .bottom-left ul li a {
    height: 100%;
    width: 100%;
    display: block;
    color: #fff;
    text-transform: uppercase;
}
.content .left-content .bottom-left ul li a:hover {
    background-color: #251d47;
}

.content .left-content .bottom-left ul li a:active,
.content .left-content .bottom-left ul li a:focus {
    text-decoration: none;
}

.content .left-content .bottom-left .change-room {
    /*background: #af56e3;*/
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 15px 0px 5px;
    position: relative;
    z-index: 5;
    cursor: pointer;
}
.content .left-content .bottom-left .change-room:hover{
    /*background: #403570;*/
}

.content .right-content {
    width: 85%;
    padding: 20px 0px 50px 50px;
    /*background: linear-gradient(-45deg, rgb(11,41,91),rgb(78,56,117)) no-repeat;*/
    float: left;
    overflow: auto;
}

.right-content .background-wrapper{
    overflow: auto;
}
.right-content .background-wrapper img{
    /*width: 100%;*/
    width: 1200px;
}
