body {
    background: url('../images/body-bg.jpg');
}
.container-fluid {
    position: relative;
    margin-top: 100px;
    margin-bottom: 50px;
    background: url('../images/bg.jpg');
    height: 100%;
}

/*head-bar*/
.icon-wrapper {
    position: relative;
    z-index: 1;
    height: 50px;
    padding-top: 15px;
    /*background: lightgreen;*/

}
.icon-wrapper .item {
    padding-top: 8px;
    /*background: lightblue;*/
}

.icon-wrapper .item. .icon{
    position: absolute;
    z-index: 2;
}
.icon-wrapper .item .icon img {
    height: 32px;
}
/* end head-bar*/




.col-md-1.room-wrapper{
    background: #A68F58;
    overflow-y: auto;
    height: 600px;
    padding: 0px;
}

.room-wrapper .item{
    padding: 1px;
    width: 100%;
}

.room-wrapper .item .room{
    background: #A68572;
    height: 45px;
    padding-left: 7px;
    padding-top: 10px;
    text-align: center;

}

.room-wrapper .item .room:hover{
    background: #73503C;
}

.room-wrapper .item .room.active{
    background: #73503C;
}


.room-wrapper .item .room a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
}


.content-wrapper {
    overflow-y: auto;
    height: 600px;
    width: 100%;
}

.content-wrapper .equipment-wrapper {
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.content-wrapper .equipment-wrapper #frame{
    position: relative;
    height: 100%;
    width: 100%;
    /*background: lightblue;*/
}

.img-source{
    cursor: pointer;
}
.ui-draggable-helperMoving {
    border: 1px dotted #000;
    padding: 6px;
    background: #fff;
    font-size: 1.2em;
    width: 100px;
    height: 100px;
}
.ui-draggable-helperStoped {
    border: 1px solid #000;
    width: 5px;
    height: 5px;
}